<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/testimonial.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand mx-5" href="/">
                    <img src="../assets/image/dumbways.png" class="img-fluid ms-5" width="60" height="60" id="navbar-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-3">
                            <a class="nav-link" id="home-link" href="/">Home</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" id="add-project-link" href="/add-project">Add Project</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" id="testimonial-link" href="/testimonials">Testimonial</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-light bg-black text-ligh" id="btn-contactMe" type="submit"><a href="/contact" style="text-decoration: none; color: white;">Contact me</a></button>
                </div>
            </div>
        </nav>

    <div class="container-fluid text-center w-75">

        <h1 class="mt-5">My Testimonials</h1>
        <div class="container-rating">
            <h2 class="my-4">Rating By Star</h2>
            <div class="mt-2" aria-label="Rating">
                <button type="button" class="btn btn-dark mx-4"  id="btn-group" onclick="allTestimonials()">All</button>
                <button type="button" class="btn btn-dark  mx-4" id="btn-group" onclick="filterTestimonials(1);">1 
                    <i class="fa-solid fa-star"></i></button>
                <button type="button" class="btn btn-dark  mx-4" id="btn-group" onclick="filterTestimonials(2);">2 
                    <i class="fa-solid fa-star"></i></button>
                <button type="button" class="btn btn-dark  mx-4"  id="btn-group" onclick="filterTestimonials(3);">3 
                    <i class="fa-solid fa-star"></i></button>
                <button type="button" class="btn btn-dark  mx-4"  id="btn-group"onclick="filterTestimonials(4);">4 
                    <i class="fa-solid fa-star"></i></button>
                <button type="button" class="btn btn-dark  mx-4"  id="btn-group" onclick="filterTestimonials(5);">5 
                    <i class="fa-solid fa-star"></i></button>
            </div>
        </div>

        <div class="testimonials mt-4 d-flex flex-wrap justify-content-center align-items-center" id="testimonials">
            <!-- Add Bootstrap Cards for testimonials -->
            <!-- Example Card -->
            <!-- <div class="card">
                <img src="assets/profile/profile.png" class="card-img-top" alt="Profile Image">
                <div class="card-body">
                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget lectus
                        eu libero venenatis gravida eget vel odio."</p>
                    <p class="card-text author">- Surya Elidanto</p>
                </div>
            </div> -->
        </div>
    </div>

    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/nav.js"></script>
    <script src="../assets/js/testimonial.js"></script>
    <script src="../assets/js/ajax.js"></script>
</body>
</html>